<div class="white-container" id="footer-container">
    <div class="black-centering">
        <p>Michael Ge is a digital artist and data-driven software engineer.</p>
        <ul>
            <li class="link"><a href="{{ site.facebook }}">Facebook</a></li>
            <li class="link"><a href="{{ site.linkedin }}">LinkedIn</a></li>            
            <li class="link"><a href="{{ site.instagram }}">Instagram</a></li>
        </ul>
        <ul>
            <li class="link"><a href="{{ site.github }}">Github</a></li>
            <li>Tel: {{ site.phone }}</li>
            <li>Resumé and references available upon request.</li>
        </ul>
    </div>
</div>
