<div class="white-container">
    <div class="black-centering" id="footer-container">        
        <p>Michael Ge is a digital artist and data-driven software engineer.</p>
        <ul>
            <li><a href="{{ site.linkedin }}">LinkedIn</a></li>
            <li><a href="{{ site.github }}">Github</a></li>
            <li><a href="{{ site.instagram }}">Instagram</a></li>
        </ul>
        <ul>
            <li>Tel: {{ site.phone }}</li>
            <li>Email: {{ site.email }}</li>
            <li>Resumé and references available upon request.</li>
        </ul>
    </div>
</div>
