<div class="container" id="footer">
    <div id="footer-container">
        <p class="text" id="footer-header">Michael Ge is a digital artist and data-driven software engineer.</p>
        <div class="text more-info" id="footer-text">
            <ul class="footer-list" id="link-list">
                <li><a class="fa" href="{{ site.linkedin }}">LinkedIn</a></li>
                <li><a class="fa" href="{{ site.github }}">Github</a></li>
                <li><a class="fa" href="{{ site.deviantart }}">DeviantArt</a></li>
            </ul>
            <ul class="footer-list" id="contact-list">
                <li>Tel: {{ site.phone }}</li>
                <li>Email: {{ site.email }}</li>
                <li>Resumé and references available upon request.</li>
            </ul>
            <br>
        </div>
    </div>
</div>
