---
---

@import "common";

.proj {
    margin: 1vw;
    width: 30vw;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 4px;
    box-shadow: $boxShadow;
}

a {
    text-decoration: none;
    color: black;
}
