@import "base";

#footer-container {
    font-size: 12pt;
    background-color: white;
    display: inline-block;
    z-index: -1;
}

#footer-container ul {
    display: inline-block;
    list-style: none;
    text-align: left;
}
