/* Specify font sizes */
$titleSize: 70px;
$headerSize: 50px;
$descriptionSize: 20px;
$inviteSize: 30px;
$readSize: 16px;
$buttonSize: 20px;

/* Specify animation settings */
$transitionTime: 0.6s;

/* Specify box settings */
$boxShadow: 0px 1px 10px 0px black;
$buttonTransition: color $transitionTime, background-color $transitionTime;

/* Specify navbar settings */
$navHeight: 80px;
$navColor: rgba(3, 3, 3, 1);
$navShadow: 0px 1px 10px black;
$navTransition: color $transitionTime;
$navTabColor: #888888;

/* Specify about settings */
$aboutBgColor: rgba(255, 255, 255, 1);

/* Specify loader settings */
$loaderColor: #111111;
$loaderZ: 500;

/* Specify strip settings */
$numCategories: 4;
