---
---
@import "common";

.strip {
    position: relative;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: filter $transitionTime;
    transition: filter $transitionTime;
}

.strip:hover {
    cursor: pointer;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: filter $transitionTime;
    transition: filter $transitionTime;
}

h1 {
    text-decoration: none;
    color: white;
    text-align: center;
}

img {
    position: absolute;
    @include transform(translateY(-20%));
}

.header {
    text-shadow: 0px 2px 5px black;
}
