---
---
@import "common";

body {
    width: 65%;
}

.header {
    margin: 0;
}

.info p {
    margin: 0;
}

.blog-frame-container {
    @extend .container;
    margin: 20px;
    margin-left: .5in;
    padding: 20px 30px 20px 30px;
    box-shadow: $boxShadow;
    overflow: hidden;
}

.thumb {
    display: block;
    margin: auto;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}

