---
---
@import "common";

.header {
    margin: 0;
}

.info p {
    margin: 0;
}

.desc {
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

li {
    list-style: none;
}

.blog-nav ul {
    padding: 0;
}

.blog-nav {
    background-color: white;
    box-shadow: $boxShadow;
    text-align: center;
    display: block;
    position: fixed;
    top: $navHeight + 20px;
    right: .5in;
    padding: 10px;
    z-index: 10;
}

.blog-frame-container {
    @extend .container;
    width: 60%;
    margin: 20px;
    margin-left: .5in;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: $boxShadow;
    overflow:auto;
}

.container {
    overflow:auto;
}

.v-centering {
    float: left;
    width: 50%;
}

.class2 {
    float: right;
}

img {
    width: 70%;
}
