---
---
@import "common";

.header {
    margin: 0;
}

.info p {
    margin: 0;
}

.desc, .desc a {
    margin-top: 50px;
    margin-bottom: 50px;
    color: $navTabColor;
    transition: $navTransition;
}

.desc a:hover {
    cursor: pointer;
    color: white;
    transition: $navTransition;    
}

li {
    list-style: none;
}

.blog-nav ul {
    padding: 0;
}

.blog-nav {
    color: $navTabColor;
    background-color: $navColor;
    box-shadow: $boxShadow;
    text-align: center;
    display: block;
    position: fixed;
    top: $navHeight;
    right: 0;
    padding: 10px;
    z-index: 10;
}

.blog-frame-container {
    @extend .container;
    width: 60%;
    margin: 20px;
    margin-left: .5in;
    padding: 30px;
    box-shadow: $boxShadow;
    overflow: hidden;
}

.thumb {
    display: block;
    margin: auto;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}

