---
---
@import "common";

form {
    text-align: center;
    position: relative;
}

.textbox {
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
    resize: none;
    box-shadow: $boxShadow;
    border: none;

}

textarea {
    @extend .textbox;
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    border: 2px solid darkgray;
}

input {
    @extend .textbox;
    width: 20%;
    padding: 12px 20px;
    border: 2px solid darkgray;
}

button {
    background-color: white;
    @extend .black-button;
    border: 2px solid darkgray;
    box-shadow: $boxShadow;
}
