---
---
@import "common";

.subtitle {
    font-size: 50px;
    line-height: .5em;
}

#main-title .title {
    line-height: .5em;
}

#slidy-container {
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}

.slide-img {
    opacity: .9;
}

.background {
    opacity: .7;
}
