<!DOCTYPE html>
<html>
    {% include header.html css_file='/assets/css/code.css'%}
    <body>
        {% include navbar.html %}
        <div id="cs-container">
            <h1>Coding Projects</h1>
            <p>Web programs, side projects and whatnot.</p>
            {% for proj in site.data.projects %}
            <a href="/projects/{{ proj.src }}">
              <figure>
                <img class="proj" src="/assets/img/{{ proj.img }}"></img>
                <figcaption>{{ proj.caption }}</figcaption>
            </a>
            {% endfor %}
        </div>
        
        {% include footer.html %}
    </body>
</html>

