<!DOCTYPE html>
<html>
  {% include header.html css_file="/assets/css/contact.css" %}
  
  <body>
    {% include navbar.html %}
    <div id="rest">
        <h1>Message Michael Ge.</h1>
        michaelge@college.harvard.edu
      <!-- <form action="email.php" method="post"> -->
      <!--   <fieldset style="border: 0px"> -->
      <!--   Your Name: -->
      <!--   <input type="text" name="name" placeholder="Your Name"><br><br> -->
      <!--   Your E-mail: -->
      <!--   <input type="text" name="mail" placeholder="Your Email"><br><br> -->
      <!--   Your Comment:<br> -->
      <!--   <textarea type="text" rows="7" cols="50" name="bdy"></textarea><br><br> -->
      <!--   <input type="submit" value="Send"> -->
      <!--   <input type="reset" value="Reset"> -->
      <!--   </fieldset> -->
      <!--   <div class="g-recaptcha" data-sitekey="6Ld9SCgTAAAAAMbIuDfkQnXH0qbHW36CZWZST4_e"></div> -->
      <!-- </form> -->
    </div>
  </body>
</html>
