<!DOCTYPE html>
<html>
  {% include header.html css_file='/assets/css/about.css' %}  
  <body background="/assets/img/about.jpg">
    {% include navbar.html %}
    <div class="tab-content">
      <div class="about-text" id="general">
        <h1 class="text tab-header">Hi, I'm Michael.</h1>
        <hr>
        <p class="text">
          I'm a front- and back-end developer with a passion for 
          digital art. A student by day, I spend my nights working as
          a teaching fellow, web developer, and graphic artist.
        </p>
        <p class="text">
          Here, you'll get to know a bit about my fields of expertise 
          as well as some of the cool things I've done with them over 
          the years. Take a look around, and if you like what you see, 
          feel free to shoot me a line!
        </p>
      </div>
    </div>
    
    <div class="tab-content">
      <div class="text about-text" id="edu">
        <h1 class="tab-header">Education</h1>
        <hr>
        <p class="text">I'm currently studying Computer Science with a secondary in Statistics at Harvard University (c.o. 2018). Some relevant courses include:</p>
        <ul>
            {% for class in site.data.courses %}
            <li> {{ class.name }}: {{ class.description }} </li>
            {% endfor %}
        </ul>
        <p class="text">as well as courses in Multivariable Calculus, Linear Algebra, and Probability theory.</p>
        <p class="text">Troy High School in Fullerton, CA was where my interest in Computer Science took off. There, I was enrolled in a four-year-long Computer Science pathway that taught me things ranging from circuit logic with breadboards to introductory data structures and algorithms in Java.
      </div>
    </div>
    
    <div class="tab-content">
      <div class="about-text" id="skills">
        <h1 class="text tab-header">Skills</h1>
        
        <hr>
        
        <p class="text">
          I've been toying around with graphic design and animation for 
          a while now, specializing in 3D art. As a computer scientist, my 
          main experience comes from web development. 
          In my free time, I love tinkering with Chromebooks and 
          DIY Linux distributions, and I often brush up on coding via
          Project Euler, HackerRank, and Codecademy.
        </p>
        
        <div class="text list" id="digital-art">
          <h2>Digital Art</h2>
          <h3>3D and Animation</h3>
          <ul>
              {% for a in site.data.skills.animation %}
              <li>{{ a.name }}</li>
              {% endfor %}
          </ul>
          <h3>Graphic Design</h3>
          <ul>
              {% for gd in site.data.skills.graphics %}
              <li>{{ gd.name }}</li>
              {% endfor %}
          </ul>
          <h3>Film</h3>
          <ul>
              {% for f in site.data.skills.film %}
              <li>{{ f.name }}</li>
              {% endfor %}
          </ul>
        </div>
        
        <div class="text list" id="computer-science">
          <h2>Computer Science</h2>
          <h3>Main Languages</h3>
          <ul>
              {% for l in site.data.skills.languages %}
              <li>{{ l.name }}</li>
              {% endfor %}
          </ul>
          <h3>Miscellaneous</h3>
          <ul>
              {% for m in site.data.skills.misc %}
              <li>{{ m.name }}</li>
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    
    <div class="tab-content">
      <div class="about-text" id="exp">
        <h1 class="text tab-header">Experience</h1>
        <hr>
        {% for exp in site.data.experience %}
        <div class="text">
            <h2>{{ exp.title }}</h2>
            <ul class="notes">
                <li>{{ exp.location }}</li>
                <li>{{ exp.start_date }} – {% if exp.end_date == null %} Current {% else %} {{ exp.end_date }} {% endif %}</li>
            </ul>
            <ul>
                {% for desc in exp.description %}
                <li>{{ desc }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="tab-content">
      <div class="about-text" id="misc">
        <h1 class="text tab-header">Awards and Interests</h1>
        <hr>
        <div class="text">
          <h2>Awards</h2>
          <ul>
              {% for award in site.data.awards %}
              <li>{{ award.name }} ({{ award.year }})</li>
              {% endfor %}
          </ul>
        </div>
        <div class="text">
          <h2>Interests</h2>
          <ul>
              {% for interest in site.data.interests %}
              <li>{{ interest.name }}</li>
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    
    <div class="container" id="cs">
      <div id="cs-container">
        <h2 class="text section-header">tl;dr</h2>
        <div class="text more-info" id="cs-text">
        </div>
        <div class="text more-info">
          <p class="more-text">Actions speak louder than words.</p>
          <a class="button black cs-button" href="art">Art and Animation</a>
          <a class="button black cs-button" href="code">Coding Projects</a>
        </div>
      </div>
    </div>
    
    {% include footer.html %}
    
  </body>
</html>
