<!DOCTYPE html>
<html>
    {% include header.html css_file= '/assets/css/art.css' %}
    
    <body>
        <div class="loader"></div>
        <div class="spacer"></div>
        {% include navbar.html %}        
        <div class="partial white-container">
            <div class="black-centering v-centering">
                <h1 class="title">ART AND ANIMATION</h1>
                <p>A collection of digital art, photography, paintings, and animations.</p>
            </div>
        </div>
        
        <img id="loader" src="/assets/img/icons/ajax-loader.gif" />
        <img class="spotlight" id="sp" src="" />
        <iframe frameborder="0" width="1280" height="620" class="spotlight" id="sv" src="" allowfullscreen></iframe>
        <div id="darken"></div>

        <div id="art-container">
            {% for i in site.data.art %}
            {% if i.type == "img" %}
            <img class="pic panel" src="/assets/img/{{ i.src }}"/>
            {% else %}
            <figure class="panel">
                <img class="v panel" src="/assets/img/{{ i.src }}" alt="{{ i.alt }}"/>
                <figcaption>{{ i.caption }}</figcaption>
            </figure>
            {% endif %}
            {% endfor %}
        </div>
        {% include footer.html %}
        <script src="/assets/js/jquery.js"></script>
        <script src="/assets/js/common.js"></script>        
        <script src="/assets/js/scripts-art.js"></script>        
    </body>
</html>
