<!DOCTYPE html>
<html>
    {% include header.html css_file='/assets/css/blog_list.css'%}
    <body>
        {% include navbar.html %}
        <div class="spacer"></div>
        <div class="blog-nav">
            <h1 class="invite">Blogs</h1>
            <ul>
                {% for c in site.data.categories %}
                <p class="desc"><a href="{{ c.url }}">{{ c.name }}</a></p>
                {% endfor %}
            </ul>
        </div>
        {% for i in site.posts reversed %}
        {% if i.categories contains page.categories %}
        <a href="{{ i.url }}">
            <div class="blog-frame-container">
                <div class="container">
                    <h1 class="header">{{ i.title }}</h1>
                    <div class="info">
                        <p>{{ i.date | date: "%m/%d/%Y" }}</p>
                        <p>tags: {% for t in i.tags %}{{ t }} {% endfor %}</p>                        
                    </div>
                </div>
                <div class="container">  
                    <div class="v-centering">
                        {{ i.excerpt }}
                    </div>
                    <div class="right">
                        {% if i.img != "" %}
                        <img src="{{ i.img }}"/>
                        {% else %}
                        <img src="/assets/img/kumquat.jpg"/>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
        {% include footer.html %}
        <script src="/assets/js/jquery.js"></script>
        <script src="/assets/js/common.js"></script>
    </body>
</html>
