<!DOCTYPE html>
<html>
    {% include header.html css_file='/assets/css/blog_list.css'%}
    <body>
        {% include navbar.html %}
        <div class="spacer"></div>
        {% include blognav.html %}
        {% for i in site.posts %}
        {% if i.categories contains page.categories %}
        <a href="{{ i.url }}">
            <div class="blog-frame-container">            
                <div class="container">
                    <h1 class="header">{{ i.title }}</h1>
                    <div class="info">
                        <p>{{ i.date | date: "%m/%d/%Y" }}</p>
                        <p>tags: {% for t in i.tags %}{{ t }} {% endfor %}</p>
                    </div>
                </div>
                {% if i.img != "" %}
                <img class="thumb" src="{{ i.img }}"/>
                {% endif %}
                <div class="container">
                    {{ i.excerpt }}
                </div>
                
            </div>
        </a>
        {% endif %}
        {% endfor %}
        {% include footer.html %}
        <script src="/assets/js/jquery.js"></script>
    </body>
</html>
