<!DOCTYPE html>
<html>
    {% include header.html css_file='/assets/css/code.css'%}
    <body>
        {% include navbar.html %}
        <div class="spacer"></div>
        <div class="partial white-container">
            <div class="black-centering v-centering">
                <h1 class="title">CODING PROJECTS</h1>
                <p>Web programs, side projects and whatnot.</p>
            </div>
        </div>
        {% for proj in site.data.projects %}
        {% if proj.src contains "http://" or proj.src contains "https://" %}
        {% assign path = proj.src %}
        {% else %}
        {% assign path = '/projects/' | append: proj.src %}
        {% endif %}
        <div class="centering">
            
            <figure>
                <a href="{{ path }}">
                    <img class="proj" src="/assets/img/{{ proj.img }}"></img>
                </a>
                <a href="{{ path }}">
                    <figcaption class="desc">{{ proj.caption }}</figcaption>
                </a>
            </figure>
        </div>
        {% endfor %}
</div>

{% include footer.html %}
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/common.js"></script>
</body>
</html>

