<!DOCTYPE html>
<html>
    {% include header.html css_file='/assets/css/styles.css' %}
    <body>
        {% include navbar.html %}
        <div class="container" id="home">
            <img id="home-bg" src="/assets/img/1.png">
            <div id="title">
                <h1 class="title" id="h1">Michael Ge</h1>
                <h1 class="title" id="h2">Digital Artist</h1>
                <h1 class="title" id="h3">Developer</h1>
                <div class="text more-info" id="home-info">
                    <a class="button white about-button" href="about">ABOUT ME</a>            
                    <a class="button white home-button" href="contact">CONTACT</a>
                </div>
            </div>
        </div>

        <div class="container" id="art">
            <div id="art-container">
                <h2 class="text section-header" id="art-header">I make art.</h2>
                <div class="text more-info" id="art-info">
                    <p class="text" id="art-text">
                        2D and 3D Animation, Graphic Design, Digital Art.
                    </p>
                    <p class="more-text" id="art-more-text">See my skillset.</p><br>
                    <a class="button white art-button" href="art">ART &amp; ANIMATION</a>
                </div>
                <div id="slidy-container">
                    <figure id="slidy">
                        <img class="slide-img" src="/assets/img/cropper.jpg" alt data-caption="">
                        <img class="slide-img" src="/assets/img/10.jpg" alt data-caption="">
                        <img class="slide-img" src="/assets/img/7.jpg" alt data-caption="">
                        <img class="slide-img" src="/assets/img/8.jpg" alt data-caption="">
                    </figure>
                </div>
            </div>
        </div>
        
        <div class="container" id="cs">
            <div id="cs-container">
                <h2 class="text section-header" id="cs-header">I'm a programmer.</h2>
                <div class="text more-info" id="cs-text">
                    <p class="text" id="cs-text">
                        Specialization in creative technology, data science and machine learning.
                    </p>
                </div>
                <div class="text more-info" id="cs-info">
                    <p class="more-text" id="cs-more-text">Check out my projects.</p>
                    <a class="button black cs-button" href="code">CODING PROJECTS</a>
                </div>
            </div>
        </div>
        {% include footer.html %}
        <script src="/assets/js/jquery.js"></script>
        <script src="/assets/js/cssslidy.js"></script>
        <script src="/assets/js/scripts.js"></script>
    </body>
</html>
