<!DOCTYPE html>
<html>
    {% include header.html css_file='/assets/css/home.css' %}
    <body>
        {% include navbar.html %}
        <div class="full black-container">
            <script type="x-shader/x-vertex" id="vertexshader">
                
                void main() {
                
                gl_Position = projectionMatrix *
                modelViewMatrix *
                vec4(position, 1.0);
                }
                
            </script>
            <script type="x-shader/x-fragment" id="fragmentshader">
                uniform float rotation;
                uniform sampler2D texture;
                
                void main() {
                vec2 tPos = vec2(0., rotation / 3.15);
                vec4 color = texture2D(texture, tPos);
                gl_FragColor = vec4(color.rgb + 0.03, 1.0);
                }
                
            </script>
            <div id="container"></div>
            <div class="white-centering v-centering">
                <div id="main-title">
                    <h1 class="noselect title">MICHAEL GE</h1>
                    <h1 class="noselect title">DIGITAL ARTIST</h1>
                    <h1 class="noselect title">DEVELOPER</h1>
                </div>
                <div id="main-buttons">
                    <a class="white-button" href="about">ABOUT ME</a>
                    <a class="white-button" href="contact">CONTACT</a>
                </div>
            </div>
        </div>
        
        <div class="full black-container">
            <div class="background" id="slidy-container">
                <figure id="slidy">
                    <img class="slide-img" src="/assets/img/bubbles.png" alt data-caption="">
                    <img class="slide-img" src="/assets/img/13.png" alt data-caption="">                    
                    <img class="slide-img" src="/assets/img/9.jpg" alt data-caption="">
                    <img class="slide-img" src="/assets/img/8.jpg" alt data-caption="">
                </figure>
            </div>            
            <div class="white-centering v-centering">
                <h1 class="title">I make art.</h1>
                <p class="desc">2D and 3D Animation, Graphic Design, Digital Art.</p>
                <p class="invite">See my skillset.</p>
                <a class="white-button" href="art">ART &amp; ANIMATION</a>
            </div>
        </div>
        
        <div class="full white-container">
            <div class="black-centering v-centering">
                <h1 class="title">I'm a programmer.</h1>
                <p class="desc">Specialization in creative technology, data science and machine learning.</p>                
                <p class="invite">Check out my projects.</p>
                <a class="black-button" href="code">CODING PROJECTS</a>
            </div>
        </div>
        
        {% include footer.html %}
        <script src="/assets/js/jquery.js"></script>
        <script src="/assets/js/three.min.js"></script>
        <script src="/assets/js/common.js"></script>
        <script src="/assets/js/cssslidy.js"></script>
        <script src="/assets/js/scripts.js"></script>        
        <script src="/assets/js/home_tiles.js"></script>
    </body>
</html>
