<!DOCTYPE html>
<html>
    {% include header.html css_file='/assets/css/post.css'%}
    <body>        
        {% include navbar.html %}
        <div class="spacer"></div>
        <div class="blog-container">
            <h1 class="title">{{ page.title }}</h1>
            <p class="right desc">{{ page.date | date: "%m/%d/%Y" }}</p>
        <div class="spacer"></div>
        {{ content }}
        </div>
        {% include footer.html %}
        <script src="/assets/js/jquery.js"></script>
        <script src="/assets/js/common.js"></script>
    </body>
</html>
