<!DOCTYPE html>
<html>
    {% include header.html css_file='/assets/css/post.css'%}
    <body>        
        {% include navbar.html %}
        <div class="spacer"></div>
        <div class="blog-container">
            <h1 class="header">{{ page.title }}</h1>
            <p class="invite">{{ page.date | date: "%m/%d/%Y" }}</p>
            <p class="desc tags"><i>Tags:
                {% for t in page.tags %}
                {{ t }}
                {% endfor %}
            </i></p>
            {{ content }}
            {% include blognav.html %}
            <center>
                <p>
                    <a class="link" href="{{ page.previous.url }}">
                        {% if page.previous.title %}
                        Previous: {{ page.previous.title }}
                        {% endif %}
                    </a>
                    {% if page.previous.title and page.next.title %} | {% endif %}
                    <a class="link" href="{{ page.next.url }}">                        
                        {% if page.next.title %}
                        Next: {{ page.next.title }}
                        {% endif %}
                    </a>
                </p>
            </center>
        </div>        
        {% include footer.html %}
        <script src="/assets/js/jquery.js"></script>
        {% for ref in page.scripts %}
        <script src="{{ ref }}"></script>
        {% endfor %}
        {% if page.hasMath %}
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                extensions: ["tex2jax.js"],
                jax: ["input/TeX", "output/HTML-CSS"],
                tex2jax: {
                    inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                    displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                    processEscapes: true
                },
                TeX: {
                    Macros: {
                        t: ['{\\text{#1}}', 1],
                        bold: ["{\\bf{#1}}",1],
                        mbb: ['{\\mathbb{#1}}', 1],
                        mcal: ['{\\mathcatl{#1}}', 1]
                    }
                },
                "HTML-CSS": { availableFonts: ["TeX"] }
            });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
        {% endif %}
    </body>
</html>
